{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}



<header>
	<nav class="navbar">
		<ul>
			<li>
				<a class="link" href="">Gmail</a>
			</li>
			<li>
				<a class="link" href="">Images</a>
			</li>
			<li>
				<a class="menu-icon" href=""><i class="fa-solid fa-bars"></i></a>
			<li>
				<div class="circle-shadow">
                        <a class="user-icon" href=""><span>J</span></a>
                    </div>
			</li>
		</ul>

</header>

<div>


<ol>
		<li value="1"><a href="{{ url_for('b') }}">Universal Bottle</a>
		<li value="2"><a href="{{ url_for('c') }}">Philadelphia Bottle</a></li>
		<li value="3"><a href="{{ url_for('d') }}">Sakura Bottle</a></li>
		<li value="4"><a href="{{ url_for('a') }}">Taipei Bottle</a></li>
		<li value="5"><a href="{{ url_for('e') }}">Disney Bottle</a></li>

</ol>

</div>
<br>
<br>

<footer>
	<div class="footer-content upper-footer">
		<p>Claremont</p>
	</div>

	<div class="footer-content lower-footer">
		<ul class="lower-left-footer">
			<li>
				<a href="">About</a>
			</li>
			<li>
				<a href="">Advertising</a>
			</li>
			<li>
				<a href="">Business</a>
			</li>
			<li>
				<a href="">How Search Works</a>
			</li>
		</ul>
		<ul class="lower-right-footer">
			<li>
				<a href="">Privacy
			</li>
			<li>
				<a href="">Terms</a>
			</li>
			<li>
				<a href="">Settings</a>
			</li>

			

	</div>
</footer>

{% endblock %}


</html>